.form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border: 2px solid grey;
    height: auto;
    width: 50%;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 20px;
}

.input {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.button {
    cursor: pointer;
    border: none;
    background: grey;
    border-radius: 2px;
    color: white;
    font-weight: 700;
    padding: 5px;
}

.button:active {
    background: white;
    color: grey;
}