.container {
    display: flex;
    align-items: center;
}

.avatar {
    margin-right: 4px;
}

.name {
    font-weight: 500;
    color: tomato;
    margin-right: 10px;
}

.button {
    cursor: pointer;
    border: none;
    background: tomato;
    border-radius: 2px;
    color: white;
    font-weight: 700;
    padding: 5px;
}